<div class="{{col|default('col')}}">
	<div class="card">
		<img src="https://mdbootstrap.com/img/new/standard/nature/18{{key|default('1')}}.jpg" class="card-img-top" alt="..."/>
		<div class="card-body">
			<h5 class="card-title">
				<a href="{{path|default('#')}}">{{ product.name|default('dark') }}</a>
			</h5>
			<p class="card-text">
				A partir de :
				{{ product.price|default('1000') }}
			</p>
		</div>
	</div>
</div>
